:root {
  --primary: #1cf8ce;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
}

#root {
  text-align: center;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #333;
  width: 100%;
}

* {
  box-sizing: border-box;
}

input {
  width: 100%;
  min-width: 0px;
  max-width: 500px;
  border-radius: 5px;
  height: 35px;
  margin: 20px;
}

form,input {
  margin-left: 0px;
}

button {
  margin: 1rem;
  background-color: rgb(56, 70, 201);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
}

button:hover {
  background-color: rgb(29, 46, 194);
  cursor: pointer;
}

button:disabled {
  opacity: 50%;
  background-color: #333;
  user-select: none;
  cursor: not-allowed;
}
button.danger {
  background-color: rgb(201, 56, 56);
}
button.success {
  background-color: rgb(68, 201, 56);
}
